{% extends 'base.html' %}
{% load static %}
    {% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock %}
    {% block title %}About{% endblock %}



{% block nav %} 
<li class="nav-item">
    <a class="nav-link" onclick="saveImage()" href="#">Save</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" onclick="clearCanvas()" href="#">Clear</a>
  </li>


{% endblock %}


{% block jtron %}
<h1>About</h1>
{% endblock %}
{% block body %}
<h3>Soon!!</h3>
{% endblock %}
</html>