{% extends 'base.html' %}
{% load static %}
{% block head %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}

{% block title %}About{% endblock %}

{% block nav %} 

{% endblock %}

{% block jtron %}

<div>
  <h1 class="display-4">About</h1>
  <hr class="my-4">
  <p class="lead">    
    Drawuess is an app where you can challenge Neural Network to a charade game. 
    Get random word, try to draw a picture of it and let AI guess what you are drawing.

    The extended part of the project is a game mode, where user has to guess what is displayed on images shown and try to draw it,
    then user can ask AI what they have drawn and check wheter what they thought and what AI thinks is the same.
    <br><br>
    <b>Available drawings:</b>
    <ul>
      {% for item in items %}
        <li>{{ item }}</li>
      {% endfor %}
    </ul>
    <a href="https://github.com/Azargaz/Project-PitE/" class="gitlink" target="new_tab">Git repository available here.</a> 
  </p>
</div>
{% endblock %}
{% block body %}
{% endblock %}
</html>