{% extends 'base.html' %}
{% load static %}
    {% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock %}
    {% block title %}About{% endblock %}



{% block nav %} 

{% endblock %}
{% block jtron %}

<div>
  <h1 class="display-4">About</h1>
  <hr class="my-4">
  <p class="lead">
    Drawuess is an app where you can challenge Neural Network to a charade game. Get random word, try to draw a picture of it and let NN guess what you are drawing.<br>
    Another option is to draw the pictures that AI is uncertain about, to confirm it's suspitions.
    <br><br>
    <center> <b> Aviable drawings: </b></center>
    <ul class="listabout">
      {% for item in items %}
        <li >{{ item }}</li>
      {% endfor %}
    </ul>  
  </p>

</div>
{% endblock %}
{% block body %}
{% endblock %}
</html>