<!DOCTYPE html>
{% load static %}
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link href="https://fonts.googleapis.com/css2?family=Roboto" rel="stylesheet"> 
		<link rel="stylesheet" href="{% static 'basic.css' %}" />
		
		<title>{% block title %} {% endblock %}</title>
		{% block head %} {% endblock %}
	</head>
	<body>
		<div id="app_title"> <span> Drawuess </span> </div>
		<header>
			<ul class="nav nav-pills nav-fill">
				<li class="nav-item">
					<a class="nav-link" href="{% url 'main_page' %}">Draw to guess</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'extended' %}">Guess and draw</a>
				</li>
				{% block nav %} {% endblock %}
				<li class="nav-item">
					<a class="nav-link" href="{% url 'about' %}" tabindex="-1" aria-disabled="true">About</a>
				</li>
			</ul>
		</header>
		<article>
			{% csrf_token %}
			{% block jtron %} {% endblock %}
			{% block body %} {% endblock %}
		</article>

		<footer>
			<div id="authors"> <p>Website by Sebastian Sitko, Tomasz Piech, Hubert Jakubek</p> </div>
		</footer>
	</body>
</html>
