{% extends 'base.html' %}
{% load static %}
{% block head %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}

{% block title %}Drawuess{% endblock %}

{% block nav %} 

{% endblock %}

{% block jtron %}

<div>
  <li class="nav-item">
    <a class="nav-link" onclick="checkImage()" href="#">Done</a>
  </li>
  <li class="nav-item" >
    <a class="nav-link" onclick="clearCanvas()" href="#">Clear</a>
  </li>
    <p class="lead">This is a simple canvas for you to draw on. Please, try to draw the image next to it. <br> When you finish, press "Done". If you want to redraw your picture, press "Clear"</p>
    <hr class="my-4">
    <table>
        <tr>
            <td><canvas id="canvas" width="500" height="500"></canvas></td>
            <td>
            <table>
              <tr>
                <td><img id="img1" alt="Loading..." width="250" height="250" /> </td>
                <td><img id="img2" alt="Loading..." width="250" height="250" /> </td>
              </tr>
              <tr>
                <td><img id="img3" alt="Loading..." width="250" height="250" /> </td>
                <td><img id="img4" alt="Loading..." width="250" height="250" /> </td>
              </tr>
            </table>
            </td>
        </tr>
    </table>
    <a id="saveImage"></a>
    <p id="answer"></p>
</div>
{% endblock %}
{% block body %}
<script src="{% static 'draw.js' %}"></script>
<script src="{% static 'randomImageGET.js' %}"></script>
<script src="{% static 'imagePOST.js' %}"></script>
<script src="{% static 'picture_extendedPOST.js' %}"></script>
<script type="text/javascript">
  init();
  getImage();
</script>
{% endblock %}
</html>